
.menuModal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: fit-content;
    text-align: left;
    padding: 0.6em 0.6em 0.6em 1em;
    border-radius: 6%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.active {
    display: block !important; 
  }

  .navbar__links a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 150ms ease-in-out;
  }

  .card {
    max-width: 200px;
    min-height: 250px;
    box-shadow: var(--base-shadow-font);
    border-radius: var(--radius);
    
  }

  .image {
    border-radius: (--base-shadow-font);
    border-radius: var(--radius);
    max-width: 100%;
    height: auto;
  }

  .icon {
    font-size: var(--font-size-icon);
    cursor: pointer;
  }

  .d-none {
    display: none;
  }

  /* Generic Modal CSS */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
}


.close {
  position: absolute;
  top: 0;
  right: 8px;
  /* transform: translate(-0,-0); */
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

/* CSS for Three Different Sizes */
.small {
  width: 200px;
  height: 200px;
}

.medium {
  width: 400px;
  height: 300px;
}

.large {
  width: 800px;
  height: 500px;
}

  